body {
    background-color: #1c1f23;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.welcome-msg {
    color: #6466E9;
    padding-bottom: 15px;
}

.signup-fields {
    /* background-color: #6466E9; */
}

.follow-me-header {
    color: #6466E9;
    margin-top: 20px;
}

.links {
    padding: 15px 15px 15px 15px;
    color: white;
}
