body {
    background-color: #1c1f23;
    color: white;
    font-family: sans-serif;
}

.container {
    padding-left: 4.5px;
    text-align: left;
    padding-left: 5.5px;
}

.basic-info {
    padding-top: 1.5px;
    text-align: left;
    padding-left: 5.5px;
}

.heading {
    color: #6466E9;
    padding-left: 5.5px;
}

.header {
    padding-top: 15.5px;
    padding-left: 5.5px;
    color: #6466E9;
}

.description-div {
    padding-top: 32.5px;
    padding-left: 5.5px;
    padding-bottom: 4.5px;
}

.skills-header {
    color: #6466E9;
    padding-top: 10px;
    padding-left: 5.5px;
}

.h {
    font-size: 13px
    padding-left: 5.5px;
}

.edu-header {
    padding-top: 9.5px;
    color: #6466E9;
    padding-left: 5.5px;
}

.topaccheviements-header {
    padding-top: 9.5px;
    color: #6466E9;
    padding-left: 5.5px;
}

.feilds {
    padding-left: 5.5px;
}

.description-header {
    color: #6466E9;
    padding-top: 15.5px;
}

.interests-header {
    color: #6466E9;
    padding-left: 5.5px;
}
