body {
    background-color: #1c1f23;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding-top: 30.5px;
    padding-left: 5px;
    color: #6466E9;
}

.skills-header {
    color: #6466E9;
    padding-top: 30.5px;
    padding-left: 5px;
}
